body {
    font-family: Helvetica Neue, Arial, Verdana;
    padding: 20px;
    font-size: 16px;
    margin: auto;
    max-width: 800px;
}
heading {
    font-weight: bold;
    font-size: 18px;
}
button {
    font-family: Arial, Verdana, Helvetica;
    font-size: 18px;
    margin: 2px 2px 0px 2px;
    padding: 5px 10px 5px 10px;
    background-color: lightgray;
    outline: none;
    cursor: pointer;
}
#title {
    margin-bottom: 5px;
}
#footer {
    margin-top: 50px;
    font-size: 14px;
}
#pic {
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
}
#pic_desc {
    margin-top: 10px;
    float: right;
    font-size: 12px;
}
#pic_div {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 5px;
    margin-right: 10px;
}
#info {
    display: inline-block;
    vertical-align: top;
}
#about {
    margin-top: 30px;
}
#award_list {
    padding-left: 15px;
}
.norm {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 5px #aaa;
    background-color: FloralWhite;
}
.date {
    float: right;
    color: gray;
    font-style: italic;
}
.pressed {
    background-color: gray;
}

/*
by default, some blocks are not shown
*/
#proj {
    display: none;
}
#prof_exp {
    display: none;
}
#xtra {
    display: none;
}
#conf {
    display: none;
}
#read {
    display: none;
}
/**/